.flowers-container {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 2;
}

.flower {
  position: absolute;
  transform: translate(-50%, -50%);
}

.flower-svg {
  width: 100%;
  height: 100%;
  opacity: 0;
  filter: blur(0px);
  animation: drawFlower 6s ease-in-out forwards;
}

/* animación completa */
@keyframes drawFlower {

  /* aparece y se dibuja */
  0% {
    opacity: 0;
    stroke-dasharray: 200;
    stroke-dashoffset: 200;
  }

  20% {
    opacity: 1;
    stroke-dashoffset: 0;
  }

  /* se mantiene */
  60% {
    opacity: 1;
  }

  /* se evapora */
  100% {
    opacity: 0;
    filter: blur(6px);
    transform: scale(1.3);
  }
}